// reset css
@import '../../node_modules/reset-css/reset.css';

// fonts 
@import './fonts.scss';

// variables 
@import './variables.scss';

* {
	cursor: none;
}

body {
	font-family: 'Raleway', sans-serif;

	background-color: $color-d;
	color: $color-d;
}
